<p-toast key="errorMsg"></p-toast>
<p-toast key="successMsg"></p-toast>
<div class="grid" style="overflow-x: hidden;overflow-y:auto; max-height: 55vh;">
  <p-card class="col-12 ml-0 mb-1" header="Product">
    <ul>
      <li>
        <div class="grid">
          <div class="col-2">
            <label class="label">Naam</label>
          </div>
          <div *ngIf="product.name" class="col">
            {{product.name}}
          </div>
          <div *ngIf="!product.name" style="color:red" class="col">Product heeft nog geen naam!</div>
        </div>
      </li>
      <li>
        <div *ngIf="product.cat" class="grid">
          <div class="col-2">
            <label class="label">Type</label>
          </div>
          <div class="col">{{product.cat}}</div>
        </div>
      </li>
      <li>
        <div class="grid">
          <div class="col-2">
            <label class="label">Prijs</label>
          </div>
          <div *ngIf="product.price" class="col">{{product.price}}</div>
          <div *ngIf="!product.price" style="color:orangered" class="col">Product heeft nog geen prijs!</div>
        </div>
      </li>
    </ul>
  </p-card>
  <p-card class="col-12 ml-0 mb-1" header="Specificaties">
    <ul *ngIf="product.specifications.length>0">
      <li class="grid m-0" *ngFor="let spec of product.specifications">
        <div class="grid m-0 col-12">
          <div>
            <span>{{spec.name}}</span>
          </div>
        </div>
      </li>
    </ul>
    <div *ngIf="product.specifications.length===0" style="color:orangered" class="col">Product heeft nog geen
      specificaties!
    </div>
  </p-card>
  <p-card class="col-12 ml-0 mb-1" header="Opties">
    <ul *ngIf="product.options.length > 0">
      <li class="grid m-0" *ngFor="let opt of product.options">
        <div class="grid m-0 col-12">
          <div class="col-8">
            <span>{{opt.name}}</span>
          </div>
          <div class="col">
            <span>{{opt.price | currency:'EUR'}}</span>
          </div>
        </div>
      </li>
    </ul>
    <div *ngIf="product.options.length === 0" style="color:dodgerblue" class="col">Product heeft geen opties.</div>
  </p-card>
</div>
