<p-toast key="successMsg"></p-toast>
<p-toast key="errorMsg"></p-toast>
<div class="card">
  <p-table [value]="latestVersionQuotations" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th>Klant</th>
        <th>Product</th>
        <th>Korting</th>
        <th>Totaalprijs (excl. BTW)</th>
        <th>Status</th>
        <th>Acties</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-quotation>
      <tr>
        <td>{{quotation.customerInfo.firstName}} {{quotation.customerInfo.lastName}} </td>
        <td>{{quotation.quotationValues.productName}}</td>
        <td>{{quotation['discount']}} %</td>
        <td>{{totalPrice(quotation._id) | currency:'EUR'}}</td>
        <td>{{quotation['status']}}</td>
        <td>
          <i *ngIf="isIcon(quotation._id)" style="cursor:pointer" class="pi pi-ellipsis-h" (click)="showMenu(quotation._id)"></i>
          <p-menu (click)="handleClick($event,quotation._id)"
                  *ngIf="isMenu(quotation._id)" [model]="items" (mouseleave)="hideMenu()"
          #menu>
          </p-menu>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog header="Statuswijziging" [(visible)]="displayDialog" [dismissableMask]="true" [modal]="true" [style]="{width: '30vw'}" (onHide)="resetDialog()">
  <form class="grid">
    <div class="formField col-12">
      <p-radioButton label="goedgekeurd"
                     [(ngModel)]="selectedStatus"
                     (ngModelChange)="onStatusChanged($event)"
                     name="status"
                     value="approved"
                     ngModel></p-radioButton>
    </div>
    <div class="formField col-12">
      <p-radioButton label="aan te passen"
                     (ngModelChange)="onStatusChanged($event)"
                     [(ngModel)]="selectedStatus"
                     name="status"
                     value="to be altered"
                     ngModel></p-radioButton>
    </div>
    <p-divider class="col-12 grid p-0 mt-2 mb-2"></p-divider>
    <div class="col-12 grid p-0 d-flex justify-content-end">
    <span class="p-buttonset m-0">
        <button (click)="cancel()" pButton type="button" label="Annuleren" class="p-button-outlined"
                icon="pi pi-times"></button>
                        <button *ngIf="isDisabled()" [style]="{'cursor':'not-allowed'}" [disabled]="true"
                                (click)="save()" iconPos="left" icon="pi pi-check" label="Bewaar" pButton type="button"
                                class="p-button-success"
                        ></button>
                      <button *ngIf="!isDisabled()"
                              (click)="save()" iconPos="left" icon="pi pi-check" label="Bewaar" pButton type="button"
                              class="p-button-success"
                      ></button>

    </span>
    </div>
  </form>
</p-dialog>

<p-blockUI [blocked]="blocked">
  <p style="color:lightyellow;font-size: 1.2rem">Offerte wordt verstuurd. Even geduld...</p>
</p-blockUI>
