
<p-toast></p-toast>
<div style="height:100%;">
  <p-table [value]="quotations" [scrollable]="true" scrollHeight="70vh" sortMode="multiple">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="customer">Klant <p-sortIcon field="customer"></p-sortIcon>
          <p-columnFilter type="text" field="customer" display="menu"></p-columnFilter>
        </th>
        <th pSortableColumn="quotationValues.productName">Product <p-sortIcon field="quotationValues.productName"></p-sortIcon>
          <p-columnFilter type="text" field="quotationValues.productName" display="menu"></p-columnFilter>
        </th>
        <th pSortableColumn="discount">Korting <p-sortIcon field="discount"></p-sortIcon>
          <p-columnFilter type="numeric" field="discount" display="menu"></p-columnFilter>
        </th>
        <th pSortableColumn="totalPrice">Totaalprijs (excl. BTW) <p-sortIcon field="totalPrice"></p-sortIcon>
          <p-columnFilter type="numeric" field="totalPrice" display="menu"></p-columnFilter>
        </th>
        <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon>
          <p-columnFilter type="text" field="status" display="menu"></p-columnFilter>
        </th>
        <th>Acties</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-quotation>
      <tr>
        <td>{{quotation['customer']}} </td>
        <td>{{quotation.quotationValues.productName}}</td>
        <td>{{quotation['discount']}} %</td>
        <td>{{quotation['totalPrice'] | currency:'EUR'}}</td>
        <td>{{quotation['status']}}</td>
        <td (mouseleave)="hideMenu()" >
          <i *ngIf="isIcon(quotation._id)" style="cursor:pointer" class="pi pi-ellipsis-h" (click)="showMenu(quotation._id)"></i>
          <p-menu [style]="{'position':'absolute','z-index': '50','right':'4rem' }"
                  *ngIf="isMenu(quotation._id)" [model]="getItems(quotation._id)" (mouseleave)="hideMenu()"
          #menu>
          </p-menu>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-paginator [style]="{borderTop: '1px solid lightgrey',borderBottom: '1px solid lightgrey'}"
               [rows]="numberOfRows" [totalRecords]="quotationsAll.length"
               (onPageChange)="paginate($event)"></p-paginator>
</div>

<p-dialog header="Statuswijziging" [(visible)]="displayDialog" [dismissableMask]="true" [modal]="true" [style]="{width: '30vw'}" (onHide)="resetDialog()">
  <form class="grid">
    <div class="formField col-12">
      <p-radioButton label="goedgekeurd"
                     [(ngModel)]="selectedStatus"
                     (ngModelChange)="onStatusChanged($event)"
                     name="status"
                     value="approved"
                     ngModel></p-radioButton>
    </div>
    <div class="formField col-12">
      <p-radioButton label="aan te passen"
                     (ngModelChange)="onStatusChanged($event)"
                     [(ngModel)]="selectedStatus"
                     name="status"
                     value="to be altered"
                     ngModel></p-radioButton>
    </div>
    <div class="formField col-12">
      <p-radioButton label="geannuleerd"
                     (ngModelChange)="onStatusChanged($event)"
                     [(ngModel)]="selectedStatus"
                     name="status"
                     value="cancelled"
                     ngModel></p-radioButton>
    </div>
    <p-divider class="col-12 grid p-0 mt-2 mb-2"></p-divider>
    <div class="col-12 grid p-0 d-flex justify-content-end">
    <span class="p-buttonset m-0">
        <button (click)="cancel()" pButton type="button" label="Annuleren" class="p-button-outlined"
                icon="pi pi-times"></button>
                        <button *ngIf="isDisabled()" [style]="{'cursor':'not-allowed'}" [disabled]="true"
                                iconPos="left" icon="pi pi-check" label="Bewaar" pButton type="button"
                                class="p-button-success"
                        ></button>
                      <button *ngIf="!isDisabled()"
                              (click)="save()" iconPos="left" icon="pi pi-check" label="Bewaar" pButton type="button"
                              class="p-button-success"
                      ></button>

    </span>
    </div>
  </form>
</p-dialog>


<!-- todo oude versies bekijken + nieuwe aanmaken op basis van oude -->
<p-dialog header="Vorige versies" [(visible)]="displayDialog2" [dismissableMask]="true" [modal]="true"
          [style]="{width: '60vw',position:'relative'}" (onHide)="resetDialog()">
  <form class="grid">
    <div class="formField col-12">
      <p-dropdown placeholder="Selecteer een vorige versie" [style]="{position:'absolute',width: '70%',zIndex: '100'}"
                  *ngIf="previousVersions" [options]="previousVersions"
                  [(ngModel)]="selectedVersion" optionLabel="versionString" name="previousVersion"></p-dropdown>
    </div>

    <p-divider class="col-12 grid p-0 mt-4 mb-2"></p-divider>

    <div class="col-12 grid p-0 d-flex justify-content-end">
    <span class="p-buttonset m-0">
        <button (click)="cancel()" pButton type="button" label="Annuleren" class="p-button-outlined"
                icon="pi pi-times"></button>
                              <button *ngIf="isDisabledPrevVers()" [style]="{'cursor':'not-allowed'}" [disabled]="true"
                                      iconPos="left" icon="pi pi-eye" label="Bekijk oude versie" pButton type="button"
                                      class="p-button-info"
                              ></button>
                      <button *ngIf="!isDisabledPrevVers()"
                              (click)="read()" iconPos="left" icon="pi pi-eye" label="Bekijk oude versie" pButton type="button"
                              class="p-button-info"
                      ></button>
                        <button *ngIf="isDisabledPrevVers()" [style]="{'cursor':'not-allowed'}" [disabled]="true"
                                iconPos="left" icon="pi pi-check" label="Gebruik oude versie" pButton type="button"
                                class="p-button-success"
                        ></button>
                      <button *ngIf="!isDisabledPrevVers()"
                              (click)="convert()" iconPos="left" icon="pi pi-check" label="Gebruik oude versie" pButton type="button"
                              class="p-button-success"
                      ></button>

    </span>
    </div>
  </form>
</p-dialog>

<p-confirmDialog header="Verwijderen offerte" icon="pi pi-exclamation-triangle"
                 acceptLabel="Ja" rejectLabel="Nee"></p-confirmDialog>

<p-blockUI [blocked]="blocked">
  <p style="color:lightyellow;font-size: 1.2rem">Offerte wordt verstuurd. Even geduld...</p>
</p-blockUI>
