<form class="grid">
  <div class="formField col-10 grid  col-offset-1 ">
    <div class="col-fixed" style="width: 10rem;">
      <label class="label">Product</label>
    </div>
    <div class="col">
      <p-dropdown [options]="products" [(ngModel)]="quotation.product" (onChange)="onProductChange()" optionLabel="name" [placeholder]="quotation?.product?.name||'Selecteer een product'"
                  name="selectedProduct"></p-dropdown>
    </div>
  </div>
  <div class="formField col-10 grid  col-offset-1 ">
    <div class="col-fixed" style="width: 10rem;">
      <label class="label">Leveringstermijn</label>
    </div>
    <div class="col">
        <input pInputText id="deliveryTime" type="text" value="8 à 10 weken"
               [(ngModel)]="quotation.deliveryTime" name="deliveryTime">
      </div>
  </div>
  <div class="formField col-10 grid  col-offset-1 ">
    <div class="col-fixed" style="width: 10rem;">
      <label class="label">Korting</label>
    </div>
    <div>
      <div class="p-inputgroup col">
        <input pInputText id="discount" type="number" min="0" max="100"
               [(ngModel)]="quotation.discount" name="discount">
        <span class="p-inputgroup-addon">%</span>
      </div>
    </div>
  </div>
  <div class="formField col-10 grid  col-offset-1 ">
    <div class="col-fixed" style="width: 10rem;">
      <label class="label">Voorschot</label>
    </div>
    <div>
      <div class="p-inputgroup col">
        <input pInputText id="deposit" type="number" min="0" max="100" value="50"
               [(ngModel)]="quotation.deposit" name="deposit">
        <span class="p-inputgroup-addon">%</span>
      </div>
    </div>
  </div>
  <div class="formField col-10 grid  col-offset-1 ">
    <div class="col-fixed" style="width: 10rem;">
      <label class="label">BTW</label>
    </div>
    <div>
      <div class="p-inputgroup col">
        <input pInputText id="VAT" type="number" min="0" max="100"
               [(ngModel)]="quotation.VAT" name="VAT" #VAT>
        <span class="p-inputgroup-addon">%</span>
      </div>
    </div>
  </div>
</form>

