<form class="grid m-0">
  <div class="formField col-12 grid m-0 p-0">
    <div id="specification" class="col-12 m-0 p-0">
      <app-option-picklist
        [source]="availableOptions"
        [target]="product.options"
        *ngIf="!loading"
        (listChanged)="reload($event)"
        (store)="store($event)"
      >
      </app-option-picklist>
      <div *ngIf="loading">Loading list...</div>
    </div>
  </div>
  <div class="formField col-12 grid m-0 p-0 mt-5 ml-2">
    <div class="col-12 grid">
      <div class="col-fixed" style="width:max-content">
        <label for="newOptionName" class="label">Naam optie</label>
      </div>
      <div class="col-7">
        <input id="newOptionName" name="newOptionName" type="text" pInputText [(ngModel)]="newOptionName">
      </div>
    </div>
    <div class="col-12 grid">
      <div class="col-fixed" style="width:max-content">
        <label for="newOptionPrice" class="label">Prijs optie</label>
      </div>
      <div class="col-7">
        <div class="">
          <p-inputNumber mode="currency" currency="EUR" [maxFractionDigits]="0" [(ngModel)]="newOptionPrice" name="newOptionPrice"
                         id="newOptionPrice" ></p-inputNumber>
        </div>
      </div>
      <div class="col">
        <button (click)="addOption()" pButton type="button" label="Toevoegen" class=""
                icon="pi pi-plus"></button>
      </div>
    </div>
  </div>
</form>

