<form class="grid" >
  <!-- todo when screen smaller => adjust col-number -->
  <div class="formField col-10 col-offset-1 grid">
    <div class="col-12">
      <label for="availableOptions" class="label">Gekozen opties</label>
    </div>
    <div class="col-12 grid" *ngIf="quotation.product && !availableOptions && quotation.product.options.length>0">
      <div class="col-12"  id="productOptions"  *ngFor="let option of quotation.product.options">
        <p-checkbox name="options" [(ngModel)]="quotation.options" label="{{option.name}}" value="{{option._id}}"></p-checkbox>
      </div>
    </div>
    <div class="col-12 pl-3" *ngIf="quotation.product && quotation.product.options.length===0">
      Dit product heeft geen opties.
    </div>
    <div *ngIf="!quotation.product">
      Gelieve een product te selecteren bij stap 2.
    </div>
    <div class="col-12" *ngIf="quotation.product && availableOptions && availableOptions.length>0">
      <label for="availableOptions" class="label">Selecteer de opties gewenst door de klant</label>
    </div>
    <div class="col-12 grid" *ngIf="quotation.product && availableOptions && availableOptions.length>0">
      <div class="col-12"  id="availableOptions"  *ngFor="let option of availableOptions">
        <p-checkbox name="options" [(ngModel)]="quotation.options" label="{{option.name}}" value="{{option._id}}"></p-checkbox>
      </div>
    </div>
  </div>
</form>

