<form class="grid" >
  <!-- todo when screen smaller => adjust col-number -->
  <div class="formField col-10 col-offset-1 grid">
    <div class="col-12">
      <label for="options" class="label">Selecteer de opties gewenst door de klant</label>
    </div>
    <div class="col-12 grid" *ngIf="quotation.product">
      <div class="col-12"  id="options"  *ngFor="let option of quotation.product.options">
        <p-checkbox name="options" [(ngModel)]="quotation.options" label="{{option.name}}" value="{{option._id}}"></p-checkbox>
      </div>
    </div>
    <div *ngIf="!quotation.product">
      Gelieve een product te selecteren bij stap 2.
    </div>
  </div>
</form>
