<form class="grid" >
  <!-- todo when screen smaller => adjust col-number -->
  <div class="formField col-10 col-offset-1 grid">
    <div class="col-12">
      <label for="options" class="label">Selecteer de opties gewenst door de klant</label>
    </div>
    <div class="col-12 grid" *ngIf="quotation.product">
      <div class="col-12"  id="options"  *ngFor="let option of quotation.product.options">
        <p-checkbox name="options" [(ngModel)]="quotation.options" label="{{option.name}}" value="{{option._id}}"></p-checkbox>
      </div>
    </div>
    <div *ngIf="!quotation.product">
      Gelieve een product te selecteren bij stap 2.
    </div>
  </div>
</form>
<p-divider class="col-12 grid p-0 mt-2 mb-2"></p-divider>
<div class="col-12 grid p-0 d-flex justify-content-end">
    <span class="p-buttonset m-0">
        <button (click)="previous()" pButton type="button" label="Vorige" class="p-button-secondary"
                icon="pi pi-arrow-left"></button>
        <button (click)="cancel()" pButton type="button" label="Annuleren" class="p-button-outlined"
                icon="pi pi-times"></button>
        <button (click)="reset()" pButton type="button" label="Leegmaken" class="p-button-warning"
                icon="pi pi-trash"></button>
        <button (click)="next()" pButton type="button" label="Volgende" class=""
                icon="pi pi-arrow-right" iconPos="right"></button>
    </span>
</div>
