<div style="height:100%;" class="pt-1 pl-3 pr-3 pb-3 m-0 flex flex-column justify-content-between">
  <div class="">
    <p-steps *ngIf="items" [model]="items" [activeIndex]="index"></p-steps>
  </div>
  <div  style="" class="">
    <app-product-info *ngIf="step==='info'"></app-product-info>
    <app-product-specifications *ngIf="step==='specifications'"></app-product-specifications>
    <app-product-options *ngIf="step==='options'"></app-product-options>
    <app-product-summary *ngIf="step==='summary'"></app-product-summary>
  </div>
  <div>
    <p-divider class="col-12 grid p-0 mt-2 mb-2"></p-divider>
    <div class="col-12 grid p-0 d-flex justify-content-end">
    <span class="p-buttonset m-0">
        <!--<button pButton type="button" label="Vorige" class="p-button-secondary" icon="pi pi-arrow-left"></button>-->
        <button (click)="cancel()" pButton type="button" label="Annuleren" class="p-button-outlined"
                icon="pi pi-times"></button>
        <button (click)="reset()" pButton type="button" label="Leegmaken" class="p-button-warning"
                icon="pi pi-trash"></button>
        <button (click)="next()" pButton type="button" label="Volgende" class=""
                icon="pi pi-arrow-right" iconPos="right"></button>
    </span>
    </div>
  </div>
</div>
