<div class="col-12 grid m-auto p-0" style="height:100%;width:100%; overflow:hidden;">
  <div class="col-12 m-auto p-0 mt-0" id="header" style="height: 7%; background: black">
    <div   style="height:100%; background: black">
      <div style="position: relative; top:5px;left:5px; height:86%; overflow:hidden;background: black">
        <img src="assets/logo_hottub_centrale.PNG" alt="logo Vistaline"  (click)="homepage()">
      </div>
    </div>
  </div>
  <div id="breadcrumb" class="col-12 grid m-auto p-0 mt-0" style=" height: 6%;">
    <p-breadcrumb [home]="home" [style]="{'border':'none'}" [model]="breadcrumbs" (onItemClick)="changeBreadcrumb($event)"></p-breadcrumb>
  </div>
  <div id="content" class="col-12 grid m-auto p-0 mt-0" style=" height: 82%;">
    <div  class="col-fixed p-0" style="width:15rem; height: 100%">
      <p-menu [style]="{'height':'100%','width':'100%'}" [model]="items"></p-menu>
    </div>
    <div id="main" class="col" style="border:1px solid #dee2e6;height:100%;">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div id="footer" class="col-12 m-auto p-0 mt-0" style="height: 5%">
    <div style="border:1px solid #dee2e6;height: 100%">

    </div>
  </div>
</div>
