<p-toast></p-toast>
<div style="height:100%;">
    <p-table [value]="invoices" [scrollable]="true" scrollHeight="70vh" sortMode="multiple">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="customer">Klant <p-sortIcon field="customer"></p-sortIcon>
                    <p-columnFilter type="text" field="customer" display="menu"></p-columnFilter>
                </th>
                <th pSortableColumn="invoiceNumber">Factuurnummer <p-sortIcon field="invoiceNumber"></p-sortIcon>
                    <p-columnFilter type="numeric" field="invoiceNumber" display="menu"></p-columnFilter>
                </th>
                <th pSortableColumn="quotation.quotationNumber">Offertenummer <p-sortIcon field="quotation.quotationNumber"></p-sortIcon>
                    <p-columnFilter type="numeric" field="quotation.quotationNumber" display="menu"></p-columnFilter>
                </th>
                <th>Acties</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-invoice>
            <tr>
                <td>{{invoice['customer']}} </td>
                <td>{{invoice['invoiceNumber']}}</td>
                <td>{{invoice.quotation.quotationNumber}}</td>
                <td (mouseleave)="hideMenu()" >
                    <i *ngIf="isIcon(invoice._id)" style="cursor:pointer" class="pi pi-ellipsis-h" (click)="showMenu(invoice._id)"></i>
                    <p-menu [style]="{'position':'absolute','z-index': '50','right':'4rem' }"
                            *ngIf="isMenu(invoice._id)" [model]="getItems(invoice._id)" (mouseleave)="hideMenu()"
                            #menu>
                    </p-menu>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p-paginator [style]="{borderTop: '1px solid lightgrey',borderBottom: '1px solid lightgrey'}"
                 [rows]="numberOfRows" [totalRecords]="invoicesAll.length"
                 (onPageChange)="paginate($event)"></p-paginator>
</div>

<p-dialog header="Statuswijziging" [(visible)]="displayDialog" [dismissableMask]="true" [modal]="true" [style]="{width: '30vw'}" (onHide)="resetDialog()">
    <form class="grid">
        <div class="formField col-12">
            <p-checkbox label="voorschot betaald" name="status" value="voorschot betaald op" [(ngModel)]="deposit"></p-checkbox>
        </div>
        <div class="formField col-12">
            <p-checkbox label="factuur voldaan" name="status" value="voldaan op" [(ngModel)]="met"></p-checkbox>
        </div>
        <p-divider class="col-12 grid p-0 mt-2 mb-2"></p-divider>
        <div class="col-12 grid p-0 d-flex justify-content-end">
    <span class="p-buttonset m-0">
        <button (click)="cancel()" pButton type="button" label="Annuleren" class="p-button-outlined"
                icon="pi pi-times"></button>
                        <button *ngIf="isDisabled()" [style]="{'cursor':'not-allowed'}" [disabled]="true"
                                iconPos="left" icon="pi pi-check" label="Bewaar" pButton type="button"
                                class="p-button-success"
                        ></button>
                      <button *ngIf="!isDisabled()"
                              (click)="addNewStatus()" iconPos="left" icon="pi pi-check" label="Bewaar" pButton type="button"
                              class="p-button-success"
                      ></button>

    </span>
        </div>
    </form>
</p-dialog>
