 <form class="grid">
    <div class="formField col-10 col-offset-1 grid">
      <div class="col-fixed" style="width: 10rem;">
        <label for="productName" class="label">Productnaam</label>
      </div>
      <div class="col">
        <input id="productName" name="productName" type="text" pInputText [(ngModel)]="product.name" #name>
      </div>
    </div>
    <div class="formField col-10 grid   col-offset-1 ">
      <div class="col-fixed" style="width: 10rem;">
        <label class="label" for="productType">Producttype</label>
      </div>
      <div id="productType" class="col">
        <div class="field-radiobutton">
          <p-radioButton name="type" value="hottub" label="Hottub" [(ngModel)]="product.cat"></p-radioButton>
        </div>
        <div class="field-radiobutton">
          <p-radioButton name="type" value="sauna" label="Sauna" [(ngModel)]="product.cat"></p-radioButton>
        </div>
        <div class="field-radiobutton">
          <p-radioButton name="type" value="tiny house" label="Tiny House" [(ngModel)]="product.cat"></p-radioButton>
        </div>
      </div>
    </div>
    <div class="formField col-10 grid  col-offset-1 ">
      <div class="col-fixed" style="width: 10rem;">
        <label class="label">Basisprijs product</label>
      </div>
      <div>
        <div class="p-inputgroup col">
          <input pInputText id="price" type="number" min="2"
                 [(ngModel)]="product.price" name="price" #price>
          <span class="p-inputgroup-addon">&euro;</span>
        </div>
      </div>
    </div>
  </form>


