<form class="grid m-0">
  <div class="formField col-12 grid m-0 p-0">
    <div id="specification" class="col-12 m-0 p-0">
      <app-quotation-specification-picklist
        [source]="availableQuotationSpecifications"
        [target]="quotation.quotationSpecifications"
        *ngIf="!loading"
        (listChanged)="reload($event)"
        (store)="store($event)"
      >
      </app-quotation-specification-picklist>
      <div *ngIf="loading">Loading list...</div>
    </div>
  </div>
  <div class="formField col-12 grid m-0 p-0 mt-5 ml-2">
    <div class="col-12 grid">
      <div class="col-fixed" style="width:max-content">
        <label for="newQuotationSpecificationName" class="label">Naam extra dienst</label>
      </div>
      <div class="col-7">
        <input id="newQuotationSpecificationName" name="newQuotationSpecificationName" type="text" [style]="{'width':'100%'}"
               pInputText [(ngModel)]="newQuotationSpecificationName">
      </div>
    </div>
    <div class="col-12 grid">
      <div class="col-fixed" style="width:max-content">
        <label for="newQuotationSpecificationPrice" class="label">Prijs extra dienst</label>
      </div>
      <div class="col-7">
        <div class="">
          <p-inputNumber mode="currency" currency="EUR" [maxFractionDigits]="0" [(ngModel)]="newQuotationSpecificationPrice" name="newQuotationSpecificationPrice"
                         id="newQuotationSpecificationPrice" ></p-inputNumber>
        </div>
      </div>
      <div class="col">
        <button (click)="addQuotationSpecification()" pButton type="button" label="Toevoegen" class=""
                icon="pi pi-plus"></button>
      </div>
    </div>
  </div>
</form>
