<p-toast key="successMsg"></p-toast>
<div class="grid d-flex flex-column h-full justify-content-center">
  <div class="col-8 col-offset-2 grid">
    <div class="col">
      <p-card [style]="{'width':'15rem','margin':'0.4rem auto','text-align':'center',
'background-color':'#fef4f7','color':'#757575'}" (click)="newQuotation()">{{'Nieuwe offerte' | uppercase}}</p-card>
    </div>
    <div class="col">
      <p-card [style]="{'width':'15rem','margin':'0.4rem auto','text-align':'center',
'background-color':'#fef4f7','color':'#757575'}" (click)="quotations()">{{'Overzicht offertes' | uppercase}}</p-card>
    </div>
  </div>
</div>

