ul{list-style-type: none}

p-toast ::ng-deep .p-toast-message-icon{
    display: none;
}

p-card ::ng-deep .p-card-content{
    margin:0;
    padding:0;
}

p-card ::ng-deep .p-card-title{
    font-size: 1.2rem;
}

.col-8, .col-8 + .col{
    padding:0;
}
