<p-toast key="errorMsg"></p-toast>
<p-toast key="successMsg"></p-toast>
<div class="grid m-0" style="overflow-y: auto; max-height: 55vh;">
  <p-card class="col-12">
    <ul>
      <li class="grid m-0">
        <div class="grid m-0 col-12">
          <div class="col-2">
            <label class="label">Naam klant</label>
          </div>
          <div *ngIf="quotation.customerInfo.firstName||quotation.customerInfo.lastName" class="col">
            {{quotation.customerInfo.firstName}} {{ quotation.customerInfo.lastName}}
          </div>
          <div *ngIf="!(quotation.customerInfo.firstName||quotation.customerInfo.lastName)" style="color:red" class="col">
            Klant heeft nog geen naam!</div>
        </div>
      </li>
      <li class="grid m-0">
        <div class="col-2">
          <label class="label">E-mail klant</label>
        </div>
        <div *ngIf="quotation.customerInfo.email" class="grid m-0 col-12">
          <div class="col">{{quotation.customerInfo.email}}</div>
        </div>
        <div *ngIf="!quotation.customerInfo.email" style="color:red" class="col">
          Klant heeft nog geen e-mailadres!</div>
      </li>
      <li class="grid m-0">
        <div class="grid m-0 col-12">
          <div class="col-2">
            <label class="label">Product</label>
          </div>
          <div *ngIf="quotation.product" class="grid m-0 col-12">
            <div *ngIf="quotation.product" class="col">{{quotation.product.name}}</div>
          </div>
          <div *ngIf="quotation.product" class="grid m-0 col-12">
            <div  class="col" *ngFor="let spec of quotation.product.specifications">
              <div>{{spec.name}}</div>
            </div>
          </div>
          <div *ngIf="!quotation.product" style="color:red" class="col">
            Er is nog geen product geselecteerd!
          </div>
        </div>
      </li>
      <li class="grid m-0">
        <div class="grid m-0 col-12">
          <div class="col-2">
            <label class="label">Extra diensten</label>
          </div>
          <div *ngIf="quotation.quotationSpecifications" class="grid m-0 col-12">
            <div class="col" *ngFor="let quotspec of quotation.quotationSpecifications">
              <div><span>{{quotspec.name}}</span><span> </span> <span>{{quotspec.price | currency:'EUR'}}</span></div>
            </div>
          </div>
        </div>
      </li>
      <li class="grid m-0">
        <div class="grid m-0 col-12">
          <div class="col-2">
            <label class="label">Geselecteerde opties</label>
          </div>
          <div *ngIf="quotation.options" class="grid m-0 col-12">
            <div class="col" *ngFor="let opt of selectedOptions">
              <div><span>{{opt.name}}</span> <span>{{opt.price | currency:'EUR'}}</span></div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </p-card>
</div>
