<form class="grid" >
  <div class="formField col-10 col-offset-1 grid">
    <div class="col-fixed" style="width: 10rem;">
      <label for="firstName" class="label">Voornaam</label>
    </div>
    <div class="col">
      <input id="firstName" name="firstName" type="text" pInputText [(ngModel)]="quotation.customerInfo.firstName" #name>
    </div>
  </div>
  <div class="formField col-10 col-offset-1 grid">
    <div class="col-fixed" style="width: 10rem;">
      <label for="lastName" class="label">Achternaam</label>
    </div>
    <div class="col">
      <input id="lastName" name="lastName" type="text" pInputText [(ngModel)]="quotation.customerInfo.lastName" #name>
    </div>
  </div>
  <div class="formField col-10 col-offset-1 grid">
    <div class="col-fixed" style="width: 10rem;">
      <label for="email" class="label">E-mail</label>
    </div>
    <div class="col">
      <input id="email" name="email" type="email" pInputText [(ngModel)]="quotation.customerInfo.email" #name>
    </div>
  </div>
</form>
